.navbar-nav{
   
     margin-right:  0;
    margin-left: auto;
}
.navbar{
    background-color: black;
}
.Buy{
    background-color: chartreuse;
    display: inline;
    width: 50px;
    text-align: center;
   
}

header{
    background-color: black;
}
.head{
    width: 95%;

}
.product{
    text-align: center;
}
@media screen and (max-width: 510px){
   
    .img1{
        object-fit: cover;
        object-position: 100% 0;
      
        width: 350px;
        height: 115px;
        border-bottom: 1px gray solid;
    }

}
@media screen and (min-width: 720px){
    .prodpic h3{
        
        visibility: hidden;
    }
    
}
@media screen and (max-width: 510px){
.d-flex h6{
    text-align: right;
    
    margin-left:  auto ;
}
}

@media screen and (max-width: 720px){
    .d-flex h2{
    visibility: hidden;
}
}
.gul{
    border: solid;
    display: flex;
}



footer{
    text-align: center;
    background-color: rgb(33,33,33);
    color: rgb(199, 193, 193);
    font-size: 14px;
}
.ft{
    width: 80%;
}

.last-section{
    width: 90%;
}
.butn{
    background-color: rgb(121,185,40);
    font-size: larger;
    font-weight: bolder;
    border: none;
}
.order-md-1 p{
    font-size: 22px;
    line-height: 22px;
    color: rgb(70, 70, 70);
    font-weight: 100;
}
.order-md-1 h1{
    font-size: 28px;
    color: rgb(71, 71, 71);
    font-weight: bolde;
}