.navbar-nav{
   
     margin-right:  0;
    margin-left: auto;
}
.navbar{
    background-color: black;
}
.Buy{
    background-color: chartreuse;
    display: inline;
    width: 50px;
    text-align: center;
   
}

header{
    background-color: black;
}
.head{
    width: 95%;

}
.product{
    text-align: center;
   
}

.bottomright h5{
    color: rgb(24,124,215);
}
@media screen and (max-width: 768px){
   
    .img1{
        object-fit: cover;
        object-position: 100% 0;
      
        width: 350px;
        height: 115px;
        border-bottom: 1px gray solid;
    }
    

}
@media screen and (max-width: 768px){
    .claimr{
        visibility: hidden;
    }
}

@media screen and (min-width: 768px){
    .prodpic h3{
        
        visibility: hidden;
    }
    
}
@media screen and (max-width: 510px){
.d-flex h6{
    text-align: right;
    
    margin-left:  auto ;
}
}

@media screen and (max-width: 720px){
    .d-flex h2{
    visibility: hidden;
}
}
.gul{
    border: solid;
    display: flex;
}
.green-border{
    border: greenyellow 2px solid;
    
}

.color-selact{
    display: grid;
    grid-template-areas: 
    'iron white black'
    ;
    
}

.iron{
 grid-area: iron;
 border: solid 1px gray;
 padding: 10px;
 margin: 2px;
}
.white{
 grid-area: white;
 border: solid 1px gray;
 padding: 10px;
 margin: 2px;
}
.black{
 grid-area: black;
 border: solid 1px gray;
 padding: 10px;
 margin: 2px;
}
.black:hover{
    border: 2px green solid;
}
.iron:hover{
    border: 2px green solid;
}
.white:hover{
    border: 2px green solid;
}
.form input{
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    border: 1px solid gray;
}
.ebtn{
    background-color: greenyellow;
    font-weight: bolder;
    font-size: 22px;
}


footer{
    text-align: center;
    background-color: rgb(33,33,33);
    color: rgb(199, 193, 193);
    font-size: 14px;
}
.ft{
    width: 80%;
}

.last-section{
    width: 90%;
}
.butn{
    background-color: rgb(121,185,40);
    font-size: larger;
    font-weight: bolder;
    border: none;
}
.order-md-1 p{
    font-size: 22px;
    line-height: 22px;
    color: rgb(70, 70, 70);
    font-weight: 100;
}
.order-md-1 h1{
    font-size: 28px;
    color: rgb(71, 71, 71);
    font-weight: bolde;
}
.imgslide{
    background-color: black;
}
@media screen and (min-width: 720px){
 .sli{
    min-width: 1500px;
}
}
.imgd{
    border: 1px rgb(209, 209, 209) solid;
}
.tel p , h4{
    color: rgb(121, 121, 121);
}
.tel h4{
    font-size: 20px;
}
.tel p{
    font-size: 15px;
}
.feat{
    display: flex;
    justify-content:space-around;
}

